<!--<div style="border-bottom: 1px solid #d9d9d9;padding: 5px; text-align: center;cursor: pointer">-->
    <!--<i class="anticon anticon-menu-fold"></i>-->
<!--</div>-->
<nz-collapse [nzBordered]="false">
    <nz-collapse-panel *ngFor="let menuGroup of menuGroups" [nzHeader]="menuGroup.displayName" class="menu-group" [nzActive]="isExpand(menuGroup)">
        <div class="menu-item-container">
            <a *ngFor="let menu of menuGroup.menus" routerLink="{{menu.path}}" routerLinkActive="active" title="{{menu.description}}">● {{menu.displayName}}</a>
        </div>
    </nz-collapse-panel>
</nz-collapse>
