<div class="box-group">

    <d-form [form]="resultForm"></d-form>

    <nz-card *ngIf="tabset" [nzBordered]="false" >
        <nz-card-tab>
            <ng-template #addTabTpl>
                <div style="margin-top:8px"><a style="font-size: 16px;"><i class="anticon anticon-plus"></i></a></div>
            </ng-template>
            <nz-tabset nzSize="large" [(nzSelectedIndex)]="tabIndex" [nzTabBarExtraContent]="addTabTpl">
                <nz-tab *ngFor="let tab of tabset.children;" [nzTitle]="title">
                    <ng-template #title>
                        <div class="small-icon-wrapper" (click)="focus(input, tab)">
                            <span [class.hide]="tab.focused">
                                <span>{{tab.title}}</span>
                                <i class="anticon anticon-close" (click)="doDelete(tab)"></i>
                            </span>
                            <input #input [class.hide]="!tab.focused" nz-input [(ngModel)]="tab.title" (blur)="blur(input, tab)"/>
                        </div>
                    </ng-template>
                </nz-tab>
            </nz-tabset>
        </nz-card-tab>
        <div *ngFor="let tab of tabset.children; let i = index;" [class.hide]="tabIndex !== i">
            <d-part *ngIf="tab.content" [view]="tab.content"></d-part>
        </div>
    </nz-card>

</div>
