<ng-container *ngIf="type === 'row'">
    <div class="box">
        <div class="toolbar">
            <span>
                <i class="anticon anticon-setting"  (click)="settingComponent(view, $event)"></i>
                <i class="au au-arrows-expand-h"    (click)="setSpacing(view, true, true)"></i>
                <i class="au au-arrows-shrink-h"    (click)="setSpacing(view, true, false)"></i>
                <i class="au au-arrows-expand-v"    (click)="setSpacing(view, false,true)"></i>
                <i class="au au-arrows-shrink-v"    (click)="setSpacing(view, false, false)"></i>
                <i class="anticon anticon-plus"     (click)="addCell(view, $event)"></i>
                <i class="au au-clear delimiter"    (click)="clear()"></i>
            </span>
        </div>
        <div class="wrapper" [style.paddingLeft.px]="view.vertical" [style.paddingRight.px]="view.vertical">
            <div nz-row [nzGutter]="view.horizontal * 2" nzType="flex" nzJustify="start" nzAlign="top" >
                <div nz-col [nzSpan]="24" *ngIf="view.label">
                    <div class="legend" [ngClass]="{required: view.required}">
                        {{view.label || view.field || 'legend'}}
                    </div>
                </div>
                <div nz-col
                     *ngFor="let cell of view.children; let i = index;"
                     [nzSpan]="cell.width"
                     [style.marginTop.px]="view.vertical"
                     [style.marginBottom.px]="view.vertical"
                     draggable="true"
                     (click)="selectedCell($event, view, i)"
                     (dragstart)="dragstart(i, $event)"
                     (dragover)="dragover($event)"
                     (drop)="drop(i, view.children, $event)" >

                    <div class="box" [ngClass]="{selected: isSelected(cell)}">
                        <div class="toolbar">
                            <span>
                                <ng-container *ngIf="cell.content">
                                    <i class="anticon anticon-setting"  (click)="settingComponent(cell.content, $event)"></i>
                                </ng-container>
                                <i class="au au-zoom-in" (click)="zoom(cell, false)"></i>
                                <i class="au au-zoom-out" (click)="zoom(cell, true)"></i>
                                <ng-container *ngIf="cell.content && cell.content.flex != null">
                                    <i class="au au-arrows-expand-h"    (click)="setSpacing(cell.content, true, false)"></i>
                                    <i class="au au-arrows-shrink-h"    (click)="setSpacing(cell.content, true, true)"></i>
                                    <i class="au au-arrows-expand-v"    (click)="setSpacing(cell.content, false,true)"></i>
                                    <i class="au au-arrows-shrink-v"    (click)="setSpacing(cell.content, false, false)"></i>
                                    <i class="anticon anticon-plus"     (click)="addCell(cell.content, $event)"></i>
                                </ng-container>
                                <ng-container *ngIf="type !== 'map'">
                                    <i class="anticon anticon-delete delimiter" (click)="removeChild(view,i)"></i>
                                </ng-container>
                            </span>
                        </div>
                        <ng-container *ngIf="cell.content">
                            <d-part [view]="cell.content"></d-part>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="type === 'form'">
    <d-form [form]="view"></d-form>
</ng-container>
<ng-container *ngIf="type === 'table'">
    <d-table [table]="view"></d-table>
</ng-container>
<ng-container *ngIf="type === 'detail-panel'">
    <d-detail [detailPanel]="view"></d-detail>
</ng-container>

<ng-container *ngIf="type === 'tab'">
    <nz-tab></nz-tab>
</ng-container>
<ng-container *ngIf="type === 'card'">
    <nz-card >

    </nz-card>
</ng-container>
