<nz-layout>
    <nz-header>
        <div class="header-panel">
            <div class="logo">
                <a [routerLink]="['/']">
                    <img alt="logo" [src]="settings?.logo|| 'https://cipchk.github.io/ng-alain/assets/logo-full.svg'" style="max-height:40px;" >
                </a>
            </div>
            <div class="top-nav-wrap">
                <ul class="top-nav">
                    <li>
                        <div class="item">
                            <i class="anticon trigger" [class.anticon-menu-fold]="!isCollapsed" [class.anticon-menu-unfold]="isCollapsed" (click)="isCollapsed=!isCollapsed"></i>
                        </div>
                    </li>
                    <li>
                        <div class="item">
                            <i class="anticon anticon-api"></i>
                        </div>
                    </li>
                </ul>

                <nz-input-group nzAddOnBeforeIcon="anticon anticon-search"
                                [class.input-group-focus]="focusSearch"
                                [class.input-group-blur]="!focusSearch">
                    <input nz-input  (focus)="focusSearch = true" (blur)="focusSearch = false" [placeholder]="'header.search-placeholder' | translate">
                </nz-input-group>

                <ul class="top-nav">
                    <li>
                        <div class="item">
                            <nz-badge [nzCount]="5">
                                <i class="anticon anticon-notification"></i>
                            </nz-badge>
                        </div>
                    </li>
                    <li>
                        <div class="item">
                            <nz-dropdown nzPlacement="bottomRight" nzTrigger="click">
                                <div nz-dropdown><i class="anticon anticon-setting"></i></div>
                                <ul nz-menu>
                                    <li nz-menu-item>
                                        <a><i class="anticon anticon-user"></i> &nbsp;&nbsp;个人中心</a>
                                    </li>
                                    <li nz-menu-divider></li>
                                    <li nz-menu-item><i class="anticon anticon-logout"></i> &nbsp;&nbsp;退出登录</li>
                                </ul>
                            </nz-dropdown>
                        </div>
                    </li>
                </ul>
                <nz-select style="width: 88px;" [(ngModel)]="language" (ngModelChange)="switchLanguage($event)">
                    <nz-option nzValue="zh" nzLabel="中文"></nz-option>
                    <nz-option nzValue="en" nzLabel="English"></nz-option>
                </nz-select>
            </div>
        </div>
    </nz-header>
    <nz-layout>
        <nz-sider [(nzCollapsed)]="isCollapsed" >
            <ul nz-menu [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
                <li nz-submenu *ngFor="let menu of menus | async">
                    <span title><i [class]="menu.icon"></i><span class="nav-text">{{menu.displayName}}</span></span>
                    <ul>
                        <li nz-menu-item  *ngFor="let submenu of menu.children">
                            <a [routerLink]="submenu.path" routerLinkActive="active" title="{{submenu.displayName}}">
                                <i [class]="submenu.icon"></i><span class="nav-text" >{{submenu.displayName}}</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li nz-submenu>
                    <span title><i class="anticon anticon-usb"></i><span class="nav-text">定制管理</span></span>
                    <ul>
                        <li nz-menu-item><a routerLink="/settings"        routerLinkActive="active" title="主题定制"><i class="anticon anticon-skin"></i>主题定制</a></li>
                        <li nz-menu-item><a routerLink="/icons"         routerLinkActive="active" title="图标定制"><i class="anticon anticon-picture"></i>图标定制</a></li>
                        <li nz-menu-item><a routerLink="/menus"         routerLinkActive="active" title="菜单定制"><i class="anticon anticon-menu-unfold"></i>菜单定制</a></li>
                        <li nz-menu-item><a routerLink="/views"         routerLinkActive="active" title="视图定制"><i class="anticon anticon-file"></i>视图定制</a></li>
                        <li nz-menu-item><a routerLink="/interfaces"    routerLinkActive="active" title="完整接口列表"><i class="anticon anticon-api"></i>完整接口列表</a></li>
                    </ul>
                </li>
            </ul>
        </nz-sider>

        <nz-layout>
            <nz-content>
                <div class="content-title-well">
                    <nz-breadcrumb style="margin:16px 0;">
                        <nz-breadcrumb-item>
                            <a routerLink="">Home</a>
                        </nz-breadcrumb-item>
                        <nz-breadcrumb-item *ngFor="let segment of links">
                            <a routerLink="{{segment.path}}">{{segment.text}}</a>
                        </nz-breadcrumb-item>
                    </nz-breadcrumb>
                </div>
                <div class="content-body">
                    <router-outlet></router-outlet>
                </div>
            </nz-content>
        </nz-layout>
    </nz-layout>
</nz-layout>
