<nz-layout>
    <nz-header>
        <app-header></app-header>
    </nz-header>
    <nz-layout>
        <nz-sider [nzWidth]="300">
            <app-sider></app-sider>
        </nz-sider>

        <nz-layout class="main">
            <nz-content>
                <nz-breadcrumb>
                    <nz-breadcrumb-item>
                        <a routerLink="">Home</a>
                    </nz-breadcrumb-item>
                    <nz-breadcrumb-item *ngFor="let segment of links">
                        <a routerLink="{{segment.path}}">{{segment.text}}</a>
                    </nz-breadcrumb-item>
                </nz-breadcrumb>
                <div style="margin: 16px 0;" >
                    <router-outlet></router-outlet>
                </div>
            </nz-content>
            <nz-footer>
                <app-footer></app-footer>
            </nz-footer>
        </nz-layout>
    </nz-layout>
</nz-layout>
