<nz-card nzTitle="详情页">
    <form nz-form >
        <div nz-row>
            <form-item *ngFor="let item of view.displayFormItems" [formGroup]="detailForm" [item]="item" nzFlex></form-item>
        </div>
    </form>
    <nz-divider *ngIf="view.tabs.length>0" class="mb-lg"></nz-divider>
    <nz-tabset *ngIf="view.tabs.length>0" nzSize="large">
        <ng-container *ngFor="let tab of view.tabs">
            <nz-tab [nzTitle]="tab.displayName">
                <app-table [path]="format(tab)" [view]="getView(tab.path)"></app-table>
            </nz-tab>
        </ng-container>
    </nz-tabset>
</nz-card>
