<div nz-col [nzSpan]="item.width" [ngClass]="{hide: hide()}" [formGroup]="formGroup" style="margin-bottom: 16px; padding-left: 12px; padding-right: 12px">

    <fieldset *ngIf="controlType === 'fieldset'"  >
        <legend *ngIf="showLabel">{{item.property.description}}</legend>
        <div nz-row>
            <form-item *ngFor="let innerFormItem of formItems"  [formGroup]="control" [item]="innerFormItem" nzFlex></form-item>
        </div>
    </fieldset>

    <div nz-row *ngIf="controlType === 'array'">
        <h3 style="color:rgba(0, 0, 0, 0.45)">{{item.property.description}}</h3>
        <ng-container *ngFor="let element of control.controls; let i = index; let last = last">
            <div nz-row >
                <div nz-col [nzSpan]="24">
                    <div nz-row>
                        <form-item [formGroup]="control" [item]="arrayItems" [key]="i" [showLabel]="false"></form-item>
                    </div>
                    <div *ngIf="item.itemType == 'edit'" style="position: absolute; top: 0;right:-32px; width:24px">
                        <i              class="anticon anticon-minus-circle-o dynamic-delete-button" style="font-size:24px;cursor: pointer" (click)="remove(i)"></i>
                        <i *ngIf="last" class="anticon anticon-plus-circle-o dynamic-delete-button"  style="font-size:24px;cursor: pointer" (click)="add()"></i>
                    </div>
                </div>
                <div nz-col [nzSpan]="24" *ngIf="!last"><nz-divider class="mb-lg"></nz-divider></div>
            </div>
        </ng-container>
    </div>

    <fieldset nz-row  *ngIf="controlType === 'map'" [formGroupName]="item.property.name">
        <legend *ngIf="showLabel">{{item.property.description}}</legend>
        <ng-container *ngFor="let keyValue of control.controls; let i = index;let last = last">
            <div nz-col [nzSpan]="24" >
                <div nz-row>
                    <form-item [formGroup]="keyValue" [item]="keyItem" [key]="'key'" ></form-item>
                    <form-item [formGroup]="keyValue" [item]="valueItem" [key]="'value'"></form-item>
                    <div *ngIf="item.itemType == 'edit'" style="position: absolute; top: 0;right:-32px; width:24px">
                        <i              class="anticon anticon-minus-circle-o dynamic-delete-button" style="font-size:24px;cursor: pointer" (click)="remove(i)"></i>
                        <i *ngIf="last" class="anticon anticon-plus-circle-o dynamic-delete-button"  style="font-size:24px;cursor: pointer" (click)="add()"></i>
                    </div>
                </div>
            </div>
            <div nz-col [nzSpan]="24" *ngIf="!last"><nz-divider class="mb-lg"></nz-divider></div>
        </ng-container>
    </fieldset>


    <nz-form-item *ngIf="controlType === 'simple'" nzFlex>
        <nz-form-label *ngIf="showLabel" [nzSpan]="labelWidth" [attr.title]="item.property.description"
                       [nzFor]="key" [nzRequired]="required">{{item.property.displayName}}</nz-form-label>

        <nz-form-control [nzSpan]="24 - labelWidth" [ngSwitch]="simpleControlType">

            <!--<nz-datepicker *ngSwitchCase="'input-datetime'"     [formControlName]="prop.name" [nzPlaceHolder]="prop.description" [nzFormat]="'YYYY-MM-DD HH:mm:ss'" nzShowTime ></nz-datepicker>-->
            <!--<nz-rangepicker *ngSwitchCase="'datetime-range'"    [formControlName]="prop.name" [nzFormat]="'YYYY-MM-DD HH:mm:ss'" nzShowTime ></nz-rangepicker>-->

            <!--<nz-datepicker *ngSwitchCase="'input-date'"  [formControlName]="prop.name" [nzPlaceHolder]="prop.description" [nzFormat]="'YYYY-MM-DD'"></nz-datepicker>-->
            <!--<nz-rangepicker *ngSwitchCase="'date-range'" [formControlName]="prop.name" [nzFormat]="'YYYY-MM-DD'"></nz-rangepicker>-->
            <textarea *ngSwitchCase="'input-textarea'" nz-input [formControlName]="key" [id]="key" [placeholder]="item.property.description" nzAutosize></textarea>
            <input *ngSwitchCase="'input-text'" nz-input [formControlName]="key" [id]="key" [placeholder]="item.property.description" />
            <nz-input-number *ngSwitchCase="'input-number'" [formControlName]="key" [nzStep]="1" ></nz-input-number>
            <nz-input-number *ngSwitchCase="'input-range'"  [formControlName]="key" [nzStep]="1" ></nz-input-number>
            <nz-select       *ngSwitchCase="'select'"       [formControlName]="key" [nzPlaceHolder]="item.property.description" >
                <nz-option *ngFor="let option of item.property.options" [nzLabel]="option.label" [nzValue]="option.value" ></nz-option>
            </nz-select>

            <nz-input-group *ngSwitchCase="'input-ref'"  nzSuffixIcon="anticon anticon-filter">
                <input nz-input [formControlName]="key" [placeholder]="item.property.description" (click)="showReferenceDialog()" [(ngModel)]="formGroup.value[key]" />
            </nz-input-group>

            <span *ngSwitchCase="'display-text'" >{{formGroup.value[key]}}</span>

            <nz-form-explain *ngIf="item.itemType == 'edit'">
                <div nz-form-explain *ngIf="control.dirty&&control.hasError('required')">不能为空</div>
                <div nz-form-explain *ngIf="control.dirty&&control.hasError('max')">不能大于{{item.property.maximum}}</div>
                <div nz-form-explain *ngIf="control.dirty&&control.hasError('min')">不能小于{{item.property.minimum}}</div>
                <div nz-form-explain *ngIf="control.dirty&&control.hasError('maxLength')">长度不能大于{{item.property.maxLength}}</div>
                <div nz-form-explain *ngIf="control.dirty&&control.hasError('minLength')">长度不能大于{{item.property.minLength}}</div>
                <div nz-form-explain *ngIf="control.dirty&&control.hasError('pattern')">必须匹配正则表达式<code>{{item.property.pattern}}</code></div>
                <div nz-form-explain *ngIf="control.dirty&&control.hasError('uniqueKey')">{{control.getError('uniqueKey')}}</div>
            </nz-form-explain>
        </nz-form-control>

    </nz-form-item>
</div>
