@import "~ng-zorro-antd/src/ng-zorro-antd.less";
@import "icon";

@primary-color: @red-4;



@slider-track-background-color:       @primary-4;
@slider-track-background-color-hover: @primary-5;
@slider-handle-color:                 @primary-4;
@slider-handle-color-hover:           @primary-5;


.disabled{
    cursor: not-allowed !important;
    opacity: 0.7;
}
.hide {
    display: none
}

.@{input-number-prefix-cls} {
    width: 100%;
}

.@{table-prefix-cls}{
    &-thead > tr > th ,
    &-tbody > tr > td {
        word-break: keep-all;
        text-align: center;
    }
}
.@{form-prefix-cls}-item-label {
    text-overflow: ellipsis;
}


