<ng-container *ngIf="data.type ==='row'">
    <div nz-row [nzGutter]="data.horizontal * 2" nzType="flex" nzJustify="start" nzAlign="top" >
        <div nz-col *ngFor="let cell of data.children" [nzSpan]="cell.width" [style.marginTop.px]="data.vertical" [style.marginBottom.px]="data.vertical">
            <v-part [path]="path" [route]="route" [data]="cell.children[0]" [onActions]="onActions"></v-part>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="data.type ==='form'">
    <v-form [path]="path" [route]="route" [form]="data" [onActions]="onActions" [value]="initValue"></v-form>
</ng-container>

<ng-container *ngIf="data.type ==='table'">
    <v-table [path]="path" [route]="route" [table]="data" [onActions]="onActions"></v-table>
</ng-container>

<ng-container *ngIf="data.type ==='detail-panel'">
    <v-detail [path]="path" [route]="route" [detailPanel]="data" [onActions]="onActions"></v-detail>
</ng-container>

<ng-container *ngIf="data.type ==='tab'">
    <nz-tab></nz-tab>
</ng-container>
<ng-container *ngIf="data.type ==='card'">
    <nz-card>
        <v-part [data]="data.content"></v-part>
    </nz-card>
</ng-container>
