<nz-card *ngIf="table.queryForm" class="query-form-wrapper">
    <form nz-form >
        <div nz-row [nzGutter]="table.queryForm.horizontal * 2" [nzType]="table.queryForm.flex ? 'flex':null" [nzJustify]="table.queryForm.justify" [nzAlign]="table.queryForm.align">
            <div *ngFor="let cell of table.queryForm.children; let i = index" nz-col [nzSpan]="cell.width"
                 [style.marginTop.px]="table.queryForm.vertical" [style.marginBottom.px]="table.queryForm.vertical" [class.hide]="i > markCollapseIndex">
                <v-part *ngFor="let v of cell.children" [view]="v" ></v-part>
            </div>
            <div nz-col class="query-form-button-group" [nzSpan]="panelWidth" [style.marginTop.px]="table.queryForm.vertical" [style.marginBottom.px]="table.queryForm.vertical" >
                <button nz-button [nzType]="table.queryButton.classType" (click)="query()">{{table.queryButton.text}}</button>
                <button nz-button [nzType]="table.clearButton.classType" (click)="clear()">{{table.clearButton.text}}</button>
                <a class="motion-collapse" (click)="toggleCollapse()">
                    <i class="anticon" [class.anticon-down]="markCollapseIndex !==table.queryForm.children.length" [class.anticon-up]="markCollapseIndex === table.queryForm.children.length"></i>
                </a>
            </div>
        </div>
    </form>
</nz-card>
<div class="table-top-bar">
    <ng-container *ngFor="let button of table.buttons">
        <button nz-button [nzType]="button.classType" (click)="triggerButton(button)" [title]="button.description">{{button.text}}</button>
    </ng-container>
</div>


<nz-table [nzData]="page.content"
          [nzFrontPagination]="false"
          [nzShowPagination]="table.showPagination"
          [nzTotal]="page.totalElements"
          [nzShowSizeChanger]="true"
          [nzBordered]="table.bordered"
          [(nzPageIndex)]="page.number"
          [(nzPageSize)]="page.size"
          (nzPageIndexChange)="query()"
          (nzPageSizeChange)="query()"
          [nzScroll]="{x: '100%'}">
    <thead>
    <tr *ngFor="let row of headers;let first = first">
        <ng-container *ngFor="let header of row; ">
            <th *ngIf="header.show" [attr.rowspan]="header.rowspan" [attr.colspan]="header.colspan">
                {{header.title}}
            </th>
        </ng-container>
        <th *ngIf="first" colspan="1" nzRight="0px" [attr.rowspan]="headers.length" style="min-width: 220px" >操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of page.content">
        <ng-container *ngFor="let column of dataColumns" >
            <td *ngIf="!column.hide">{{column.formatText(data)}}</td>
        </ng-container>
        <td nzRight="0px">
            <ng-container *ngFor="let button of table.operationColumnButtons">
                <button nz-button [nzType]="button.classType" (click)="triggerButton(button)">{{button.text}}</button>
            </ng-container>
        </td>
    </tr>
    </tbody>
</nz-table>
